<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Use the ThreeFourths app to increase your productivity and get'er done">
    <meta name="author" content="Three Fourths">

    <title>ThreeFourths App</title>
    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body" ng-app="timerApp" ng-controller="timerCtrl">

            <!-- app button -->
            <button id="showapp" class="btn-circle" ng-click="switchtoapp()"><i class="fa fa-play-circle-o"></i>
            </button>

            <div class="container">
                <!-- Text -->
                <div class="row" ng-hide="showapp">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Grey</h1>
                        <p class="intro-text">Just like your future,
                            <br>If you don't get working.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
                <!-- App -->
                <div class="row" ng-show="showapp">
                    <div id="timer-view" class="col-xs-12 col-md-8">
                        <progress-arc size="300" stroke="rgba(255, 255, 255, 0.94)" stroke-width="20" complete="ts.graphprogress" counter-clockwise=true></progress-arc>
                        <div id="timer-remaining" class="timer-text">
                            {{ts.remainingtime|formatTimer}}
                        </div>
                        <div id="timer-cycle" class="timer-text">
                            {{ts.cycle | uppercase}}
                        </div>


                    </div>
                    <div id="timer-controls" class="col-xs-6 col-md-4">
                        <label>Work Time:</label>
                        <input type="number" class="timer-input" ng-model="ts.worktime" min="0" ng-change="ts.changeInput()">
                        <label>Break Time:</label>
                        <input type="number" class="timer-input" ng-model="ts.breaktime" min="0" ng-change="ts.changeInput()">
                        <br>
                        <button ng-click="ts.pauseResumeToggle()" class="btn btn-default">{{ts.buttonText}}</button>
                        <button ng-click="ts.resetTimer()" class="btn btn-default">Reset</button>
                        <button ng-click="ts.switchCycle()" class="btn btn-default">End {{ts.cycle}} Cycle</button>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <!-- Angular + Dependancies + App -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-progress-arc.js"></script>
    <script src="js/timer.js"></script>

</body>

</html>
