/* Empty. Add your own CSS if you like */
/*.social-icon {
    font-size: 24px;
} */

.timer-ring {
    margin: auto;
    transition: stroke-dashoffset 0.1s linear;
    stroke: rgba(16, 179, 217, 0.84);
    stroke-linecap: "square";
    stroke-width: "20";
    /*Avoid setting the following properties that are used to calculate the progress arc position: stroke-width  stroke-dasharray stroke-dashoffset */
}